@model TPModule6.Models.DojoViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="form-horizontal">
    @Html.Partial("_SamouraiDisplayWithId") 
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.samourai.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
